/*
HEXA COLORS:
Blue: #140067
Yellow: #ffc600
*/

body {
    font-family: "Roboto";
    font-size: 50px;
}

header {
    font-family: "Roboto";
    font-size: 50px;
}

.navbar {
    background-color: #140067;
}

.navbar-toggler {
    border: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("../../img/Menu_button.svg");
}
