p {
    color: #140067;
    font-size: 35px;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 50px;
    color: #140067;
}

#container_community {
    margin-top: 5%;
}

#box_community {
    overflow-y: scroll;
    background-color: #ffc600;
}

#img_community {
    border-radius: 50%;
}
