/*
HEXA COLORS:
Blue: #140067
Yellow: #ffc600
*/

body {
    font-family: "Roboto";
    font-size: 50px;
}

header {
    font-family: "Roboto";
    font-size: 50px;
}

.navbar {
    background-color: #140067;
}

.navbar-brand {
    height: 120px;
    width: 300px;
}

.custom-title-didit {
    height: 120px;
    width: 300px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.navbar-toggler {
    border: none;

}

.custom-toggler .navbar-toggler-icon {
    background-image: url("../../img/Menu_button.svg");
    height: 50px;
    width: 50px;
}
